@model Grow.Models.TransactionDetail

<h2>Add Item</h2>
<br />
<form asp-controller="TransactionDetails" asp-action="AddItem" method="post" id="theItemForm">
    <input type="hidden" asp-for="TransactionID" value="@ViewData["TransactionID"]" />
    <input id="txtItemID" type="hidden" asp-for="ItemID" />
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Filter by Category:</label>
            <select id="ddlCat" class="form-control" asp-items="ViewBag.Categories">
                <option value="-1" selected>Select a Category</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label class="control-label">Search Items:</label>
            <input id="txtSearch" class="form-control" />
        </div>
        <div class="form-group col-md-3 align-self-end">
            <input id="btnFilter" type="button" value="Filter" class="btn btn-outline-primary" />
            <input id="btnClear" type="button" value="Clear" class="btn btn-outline-dark" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ListBox("itemList", (MultiSelectList)ViewBag.ItemList, new { @id = "itemList", @size = 8, @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ItemID" class="control-label"></label>
                <input id="txtItem" class="form-control" readonly />
                <span asp-validation-for="ItemID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" value="1" min="1" max="100" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" id="submitItemForm" disabled="disabled" />
            </div>
        </div>
    </div>
</form>

<script src="~/js/AddItem.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}