@model Grow.Models.Household

@{
    ViewData["Title"] = "Create";
}

<h1>Create Household</h1>

<hr />
<form id="createForm" asp-action="Create">
    <div class="row">
        <input type="hidden" asp-for="RenewalDate" value="@(new DateTime(DateTime.Today.Year + 1, DateTime.Today.Month, DateTime.Today.Day))" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MembershipNumber" class="control-label"></label>
                <input asp-for="MembershipNumber" value="@ViewBag.NextMembershipNo" class="form-control" readonly />
                <span asp-validation-for="MembershipNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdName" class="control-label"></label>*
                <input asp-for="HouseholdName" class="form-control" />
                <span asp-validation-for="HouseholdName" class="text-danger"></span>
            </div>
            <div class="form-check form-group">
                <input id="cbNoFixedAddress" class="form-check-input" type="checkbox" value="">
                <label class="form-check-label" for="cbNoFixedAddress">
                    No Fixed Address
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CityID" class="control-label"></label>*
                <select id="ddlCity" asp-for="CityID" class="form-control" asp-items="ViewBag.CityID">
                    <option value="-1" selected disabled>Select a City</option>
                </select>
                <span id="valCity" asp-validation-for="CityID" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="StreetNumber" class="control-label"></label>*
                        <input id="txtStreetNo" asp-for="StreetNumber" class="form-control" />
                        <span asp-validation-for="StreetNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="StreetName" class="control-label"></label>*
                        <input id="txtStreetName" asp-for="StreetName" class="form-control" />
                        <span asp-validation-for="StreetName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ApartmentNumber" class="control-label"></label>
                        <input id="txtAptNo" asp-for="ApartmentNumber" class="form-control" />
                        <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label>*
                        <input id="txtPostalCode" asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="row ml-1">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <a asp-action="Index">
                        <input type="button" value="Cancel" class="btn btn-secondary" style="width: 75px;" />
                    </a>
                </div>
                <div class="ml-2"></div>
                <div class="form-group">
                    <input id="btnCreate" type="button" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
<script>
    $(document).ready(function () {

        $("#btnCreate").click(function () {

            // Validate City
            if ($("#ddlCity :selected").val() == "-1") {
                $("#valCity").text("You must select a City.");
            }
            else {
                $("#createForm").submit();
            }
        });

        // Event for "No fixed address"
        $("#cbNoFixedAddress").change(function () {
            if (this.checked) {
                // city
                $("#ddlCity").val("2");

                // street no
                $("#txtStreetNo").val("4377");

                // street name
                $("#txtStreetName").val("Fourth Ave.");

                // apt no
                $("#txtAptNo").val("");

                // postal code
                $("#txtPostalCode").val("L2E4N1");
            }
            else
            {
                // city
                $("#ddlCity").val("-1");

                // street no
                $("#txtStreetNo").val("");

                // street name
                $("#txtStreetName").val("");

                // apt no
                $("#txtAptNo").val("");

                // postal code
                $("#txtPostalCode").val("");
            }
        });
    });
</script>
}
