@model Grow.Models.Payment

<h2>Delete Payment</h2>
<br />
<input type="hidden" asp-for="ID" />
<input type="hidden" asp-for="TransactionID" />
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="PaymentMethodID" class="control-label"></label>
            <input asp-for="PaymentMethod.Method" class="form-control" readonly />
            <span asp-validation-for="PaymentMethodID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PaymentAmount" class="control-label"></label>
            <input asp-for="PaymentAmount" min="1" class="form-control" readonly />
            <span asp-validation-for="PaymentAmount" class="text-danger"></span>
        </div>
    </div>
</div>
<br />
<form asp-controller="Payment" asp-action="Delete" asp-route-ID="@Model.ID" method="post" id="thePaymentForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" id="submitPaymentForm" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}