@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, GROW!</h1>
    <h2 class="lead">Welcome to the GROW Community App.</h2>
    <hr class="my-4">
    @if (User.Identity.IsAuthenticated)
    {
        <p>Use the links below to visit the page you are looking for.</p>
    }
    else
    {
        <p>Please login to the application by clicking the button above.</p>
    }
</div>

@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Volunteer"))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Create Households</h2>
            <p>Create a new household and add members to it.</p>
            <p><button type="button" class="btn btn-outline-success" onclick="location.href = '@Url.Action("Index", "Households")'">Households</button></p>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
        {
            <div class="col-md-4">
                <h2>Create Reports</h2>
                <p>Create new reports based on current data.</p>
                <p><button type="button" class="btn btn-outline-success" onclick="location.href = '@Url.Action("Index", "Reports")'">Reports</button></p>
            </div>
        }        
        <div class="col-md-4">
            <h2>Create Sales</h2>
            <p>Create a new sale for a specific household.</p>
            <p><button type="button" class="btn btn-outline-success" onclick="location.href = '@Url.Action("Index", "Transactions")'">Sales</button></p>
        </div>
    </div>
}
