@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to the GROW Community App</h1>
    <h5>Use the links above to visit the page you are looking for</h5>
</div>